* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.noticias {
    color: white;
    background: hsl(5, 85%, 63%);
    padding: 10px;
    text-decoration: none;
}

.noticias:hover {
    color: white;
    background: hsl(240, 100%, 5%);
}